{% extends 'base.html'%}

{% block title %} Inicio de OnlyFlans {% endblock title %}
{% block contenido %}
    <h1>Bienvenido a OnlyFlans </h1>

    <div class="row mt-4 mb-4">
    {% for flan in public_flans %}

    <div class="card m-2" style="width: 18rem;">
        <img src="{{flan.image_url}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">
            {{flan.name}}
          </h5>
          <p class="card-text">
            {{flan.description}}
          </p>
          <a href="/flan/{{flan.flan_uuid}}/" class="btn btn-primary">Receta</a>
        </div>
      </div>
      
    {% endfor %}
</div>

{% endblock contenido%}